@charset "utf-8";
.ad-bottom-size{
	width: 970px;
	height: 90px;
	border: 0;
}
.ad-bottom{
	@extend .ad-bottom-size;
	display: block;
	margin: 0 auto;
	margin-top: 9px;
	text-align: center;
	z-index: 2;
	overflow: hidden;
	.ad-frame{
		@extend .ad-bottom-size;
	}
	iframe{
		//@extend .ad-bottom-size;
	}
}
#ad_view{
	overflow: hidden;
}