.header > *,
.logo-main,
.logo-playtv,
.menu-item {
  display: block;
  float: left; }

.detail-inner,
.detail-figure {
  padding: 0; }

.container,
.header,
.detail-figure,
.list-item {
  overflow: hidden; }

.container {
  position: static; }

.detail {
  height: 580px; }

.detail-comic {
  height: 550px; }
  .detail-comic .scrollable .viewport {
    height: 532px; }

.detail-figure {
  height: 270px; }

.synopsis {
  display: inline; }

#movie_list .overview,
#comic_list .overview {
  padding-bottom: 3px; }

.list-item {
  width: 181px;
  height: 181px; }

.icon-menu, .icon-3d, .icon-adult, .icon-best, .icon-comics, .icon-korean, .icon-foregin, .icon-premium, .icon-tv,
.icon-63-troffy,
.icon-55-troffy,
.icon-63-play,
.icon-55-play {
  display: block;
  box-sizing: border-box;
  overflow: hidden; }

.icon-close {
  display: block; }

input[type=submit],
input[type=reset],
input[type=button],
button {
  filter: chroma(color=#000000); }

#movie_list {
  height: 586px; }

#comic_list {
  height: 553px; }

.detail-desc .each-books {
  padding-left: 9px;
  margin-right: 20px; }

.ad-bottom {
  width: 100%;
  position: relative; }
  .ad-bottom iframe {
    position: absolute;
    left: 50%;
    margin-left: -485px; }

.modal {
  zoom: 1;
  height: 1%; }

.modal-overlay {
  position: absolute; }

.adult-verify .modal-body {
  text-align: center; }
  .adult-verify .modal-body .form-horizontal,
  .adult-verify .modal-body .caution,
  .adult-verify .modal-body .advice {
    text-align: left; }
.adult-verify .form-horizontal {
  width: 270px;
  display: inline;
  margin: 0;
  padding-bottom: 0;
  margin-bottom: -0.5em; }
.adult-verify .advice {
  text-align: left; }

.form-group-row {
  display: block;
  position: relative;
  clear: both;
  margin-bottom: 1.5em; }
  .form-group-row label {
    width: 50%;
    display: block;
    float: left;
    margin: 0;
    padding-top: 5px; }
  .form-group-row .input-col {
    width: 50%;
    display: block;
    position: absolute;
    margin: 0; }
  .form-group-row input {
    padding: 0; }

.adult-verify span.btn {
  border: 1px solid #ccc;
  cursor: pointer; }

.btn-verify-apply,
.btn-verify-cancel {
  border: 0;
  line-height: 10px; }

.btn-verify-apply {
  background: #fe4259;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe4259', endColorstr='#da011c'); }
  .btn-verify-apply-hover {
    background: red;
    filter: none; }

.btn-verify-cancel {
  background: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd'); }
  .btn-verify-cancel-hover {
    background: #ddd;
    filter: none; }

.icon-33-search,
.btn-book-prev,
.btn-book-next,
.btn-book-prev:hover,
.btn-book-next:hover,
.btn-book-prev-active,
.btn-book-next-active {
  display: block; }

.page-ctrl .btn-group {
  margin-left: 6px; }
  .page-ctrl .btn-group .btn-book-prev, .page-ctrl .btn-group .btn-book-next {
    float: left; }

.page-cover-left {
  position: absolute;
  display: block;
  right: 50%; }

.page-cover-right {
  position: absolute;
  display: block;
  left: 50%; }

.comicviewer .page-header,
.comicviewer .page-ctrl,
.comicviewer .aside-bottom {
  position: fixed;
  z-index: 1; }
.comicviewer .viewport > * {
  vertical-align: top; }
.comicviewer .page-header {
  z-index: 2; }
.comicviewer #panel_err {
  line-height: 2em; }

.viewport-page-cover {
  _display: none; }

.comicviewer .page-header,
.comicviewer .page-ctrl,
.comicviewer .aside-bottom {
  _position: absolute;
  _z-index: 0; }
  .comicviewer .page-header iframe,
  .comicviewer .page-ctrl iframe,
  .comicviewer .aside-bottom iframe {
    _position: absolute;
    _left: 50%;
    _bottom: 5px;
    _margin: 0 0 0 -485px; }
.comicviewer .w728 iframe {
  _margin: 0 0 0 -364px; }
.comicviewer .btn-page-goto {
  _position: absolute;
  _right: 15px; }

.btn-coupon-back, .btn-coupon-use, .btn-purchase-cancel, .btn-purchase-progress {
  _color: transparent;
  _text-indent: 0; }

.modal-purchase .modal-header {
  _padding-bottom: 4px;
  *padding-bottom: 4px; }

.modal-coupon .dash {
  _margin-top: 11px; }

.btn-coupon-back, .btn-coupon-use, .btn-purchase-cancel, .btn-purchase-progress {
  *color: transparent;
  *text-indent: 0; }

* + html body .viewport-page-cover {
  left: 0px;
  white-space: nowrap; }
* + html body .page-cover-left,
* + html body .page-cover-right {
  position: static;
  display: inline-block; }
* + html body .comicviewer .viewport > * {
  vertical-align: top; }
* + html body .comicviewer .aside-bottom {
  text-align: center; }
* + html body .btn-page-goto {
  position: absolute;
  right: 10px; }

.icon-caret,
.icon-caret-lg,
.icon-caret-gray {
  margin-bottom: 3px;
  margin-right: 5px;
  text-indent: 0;
  _margin-right: 0px; }

.btn-sm-book, .btn-sm-finish {
  position: relative;
  display: inline; }
.btn-sm-finish {
  line-height: 11px;
  top: 1px; }

.sub-header-inner {
  padding-top: 0; }

.sub-category-first {
  background: #2a6791;
  padding-bottom: 5px; }
  .sub-category-first .sub-item a {
    line-height: 20px; }

.sub-item,
.sub-item-first {
  height: 100%;
  border-right: none;
  padding-top: 5px; }
  .sub-item a,
  .sub-item-first a {
    display: block;
    height: 23px;
    border-right: 1px solid #fff;
    margin-top: 0;
    line-height: 23px; }

.sub-item-first {
  border-left: none;
  line-height: 20px; }
  .sub-item-first a {
    border-left: 1px solid #fff; }

.dtypewow .detail {
  height: 550px; }
.dtypewow .detail-comic {
  height: 520px; }
  .dtypewow .detail-comic .scrollable .viewport {
    height: 502px; }
.dtypewow .detail-figure {
  height: 226.2px; }
.dtypewow #movie_list {
  height: 556px; }
.dtypewow #comic_list {
  height: 523px; }
